:root {
  --background-color: #faf2f2;
  --block-color: #2e2d2d;
  --text-color: rgb(8, 7, 7);
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 340px;
  height: 640px;
  background: rgb(38, 37, 37);
  margin: 0 auto;
  display: flex;

}

.side-menu {
  width: 304px;
  height: auto;
  background: var(--background-color);
  border: 1px solid var(--background-color);
}

.banner-window {
  width: 305px;
  height: 200px;
  background-position: center;
  background-image: url(../img/pattern_greenn.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  background-image: url(../img/avatar.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.user-name {
  color: var(--background-color);
}

.menu-items {
  list-style: none;
  padding: 0;
}

.menu-items li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.menu-items a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
}

.profile-icon {
  background-image: url(../img/trash.png);
}

.order-icon {
  background-image: url(../img/purchases.png);
}

.message-icon {
  background-image: url(../img/forums.png);
}

.favorite-icon {
  background-image: url(../img/favoritegr.png);
}

.friend-icon {
  background-image: url(../img/social.png);
}

.notification-icon {
  background-image: url(../img/updates.png);
}

.settings-icon {
  background-image: url(../img/spam.png);
}

.header-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header-shape {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.header-shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-navbar {
  width: 359px;
  height: 48px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-panel {
  background-repeat: no-repeat;
  background-position: center;
  height: 48px;
  width: 120px;
}

.back-icon {
  background-image: url(../img/back.png);
}

.home-icon {
  background-image: url(../img/home.png);
}

.recent-icon {
  background-image: url(../img/recent.png);
}